#graph{
    min-height: 500px;
    background-color: rgba(30, 41, 59, 0.7);
    border-color: rgba(148, 163, 184, 0.2);   
}
.form-label{
    color: #e2e8f0;
}
#graph-area{
    background-color: rgba(30, 41, 59, 1);
    border-style: solid;
    border-width: 1px;
    border-color: #38bdf8;
    color: #e2e8f0;    
}