.navbar-brand{
    color: #38bdf8;
    font-size:xx-large;
}

.nav-link.active{
    border-bottom: 2px solid #38bdf8;
}
.nav-link{
    color: #e2e8f0;
    transition: all 0.3s ease-in-out;
}
.nav-link:Hover{
    border-bottom: 2px solid #065578;
    color: #38bdf8;
    transform: scale(1.1);
}